<h1>Emargements</h1>

<table>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Prenom</th>
            <th>Nom</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let intern of interns">
            <td>&nbsp;</td>
            <td>{{intern.firstname}}</td>
            <td>{{intern.lastname}}</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>

<a [routerLink] = "['/intern-add']">
    Ajouter une stagiaire
</a>


<button onclick="window.location.href = '/poe-home';">Aller à la page des POE</button>

